@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased font-sans flex justify-center;
  }
  #root {
    @apply w-full md:max-w-2xl lg:max-w-4xl min-h-screen border-x border-[#2c2c2e] shadow-[0_0_30px_rgba(0,0,0,0.8)] relative;
  }
}

/* Custom Scrollbar for hidden horizontal scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
